package navbar

templ Navbar() {
	<div class="navbar bg-base-100 border-b-2 border-info items-center navbar-center">
		<a href="/" class="btn btn-ghost text-xl mx-auto">devbrewery.coffee</a>
	</div>
}
