package navbar

templ Navbar() {
	<div class="navbar bg-primary border-b-2 border-primary items-center navbar-center">
		<a href="/" class="btn btn-ghost text-xl mx-auto text-black">devbrewery.coffee</a>
	</div>
}
